.dashboard-left {
  /* transform: translateX(0); */
  transition: all 0.5s ease-in-out;
  left: 0;
  top: 0;
}
.dashboard-left > div::-webkit-scrollbar {
  width: 0px;
  height: 3px;
}
.dashboard-left > div::-webkit-scrollbar-thumb {
  width: 0;
}
.dashboard-left .nav-list {
  list-style-type: none;
  margin-block-start: 0;
  padding: 0;
  margin-top: 10%;
  width: 100%;
}
/* left dashboard */
.border-bottom-primary {
  border-bottom: 1px solid var(--black-variant-3);
}
.dashboard-left .nav-list a {
  color: var(--text-gray-secondary);
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  width: 100%;
}
.dashboard-left .nav-list a:hover {
  color: var(--text-black-varaint-1);
}
.dashboard-menu-bar span {
  transition: all 0.3s linear;
}
.hover-nav:hover {
  color: var(--text-black-varaint-1);
}

/* top navigation */
.dashboard-right .menu-bar > span {
  transition: all 0.3s linear;
}
.dash-board-top-nav {
  width: calc(100% - 240px);
}
.dashboard-top-search {
  max-width: 400px;
}
.dashboard-main-container {
  margin-top: 20px;
  max-width: 1500px;
  margin-right: 20px;
  overflow-y: scroll;
  margin-left: 200px;
  height: 95vh;
}
.dashboard-main-container::-webkit-scrollbar {
  height: 0;
  width: 0;
}
.circular-progress-wrapper {
  max-width: 500px;
}

.margin-right-300 {
  margin-right: 300px;
}
/* .margin-left-300 {
  margin-left: 300px;
} */

.icon-wrapper-primary {
  /* background-color: var(--gray-secondary); */
  border: 1px solid var(--gray-400);
  padding: 2px 8px;
}

.dash-board-top-notification .notification-wrapper {
  transform: translateY(-100%);
  z-index: -1;
  visibility: hidden;
}
.dash-board-top-notification:hover .notification-wrapper {
  transform: translateX(0);
  visibility: visible;
  z-index: 20;
}
.dash-board-top-profile .profile-wrapper {
  transform: translateY(-100%);
  z-index: -1;
  visibility: hidden;
}
.dash-board-top-profile:hover .profile-wrapper {
  transform: translateY(0);
  visibility: visible;
  z-index: 20;
}
.dashboard-content .left-side {
  flex-grow: 6;
}
@media screen and (max-width: 991px) {
  .margin-right-300 {
    margin-right: 300px;
  }
  .dashboard-main-container {
    margin-left: 0;
    margin-right: 0;
  }
  .dashboard-left {
    top: 80px;
    transform: translateX(-200px);
  }
  .dash-board-top-nav {
    width: calc(100%);
  }
  .translate-x {
    transform: translateX(0);
  }
}
@media screen and (max-width: 769px) {
  .dashboard-left {
    top: 70px;
  }
  .margin-right-300 {
    margin-right: 0px;
  }
  .dashboard-top-search input {
    width: 100%;
  }
  .translate-x {
    transform: translateX(0);
  }
}
@media screen and (max-width: 576px) {
  .dashboard-card {
    max-width: 90%;
  }
  .dashboard-content .left-side {
    overflow: hidden;
  }
  .dashboard-main-container {
    margin-top: 0;
    overflow-y: scroll;
  }
}
