.signup-right-side {
  background: linear-gradient(
    to top,
    var(--green-variant-2),
    var(--green-variant-3)
  );
  color: white;
}

.signup-left-side {
}
.custom-input {
  border: none;
  outline: none;
  padding: 10px;
  width: 100%;
}
.input-form-control {
  border: 0.2px solid var(--light-green);
  border-radius: 5px;
  overflow: hidden;
  padding-left: 5px;
  padding-right: 10px;
}

.input-form-control:active {
  border: 1px solid var(--green-variant-2);
}
.btn-signup {
  text-transform: uppercase;
  font-weight: 500;
  margin: 30px auto;
}

.green-varient-2 {
  background-color: var(--green-variant-2);
}
.dark-green {
  background-color: var(--dark-green);
}
.height-xsm {
  height: var(--height-xsm);
}
