@keyframes skeleton-loading {
  0% {
    background-color: var(--skeleton-loading-1);
  }
  100% {
    background-color: var(--skeleton-loading-2);
  }
}
.skeleton-title,
.skeleton-subtitle,
.skeleton-text,
.skeleton-line,
.skeleton-pill {
  border-radius: 6px;
}
.skeleton-line {
  height: 1rem;
  border-radius: 0.25rem;
  animation: skeleton-loading 1s linear infinite alternate;
}
.skeleton-pill {
  height: 24px;
  width: 80px;
  border-radius: 12px;
  animation: skeleton-loading 1s linear infinite alternate;
}
.skeleton-title {
  animation: skeleton-loading 1s linear infinite alternate;
  height: 1rem;
  width: 50%;
}
.skeleton-subtitle {
  animation: skeleton-loading 1s linear infinite alternate;
  height: 1rem;
  width: 40%;
}
