.home {
  background: var(--home-background);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
}
.home p {
  margin-bottom: 0;
}
.hero {
  margin-top: 50px;
  max-height: 550px;
  align-items: center;
}
.hero > div {
  width: 100%;
}

.hero .hero-img img {
  object-fit: contain;
  max-height: 600px;
  z-index: 20;
  position: relative;
}
.heor .hero-img {
  position: relative;
}
.hero-background {
  position: absolute;
  height: 100%;
  right: 0;
  top: 150px;
  /* transform: translateX(20px); */
}
.hero-background img {
  width: 100%;
}
.hero-text {
  max-width: 500px;
  font-size: 3rem;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  margin-bottom: 50px;
  line-height: 1.2;
  text-align: start;
}
.typer-text {
  max-width: 500px;
  font-weight: 500;
  margin-bottom: 25px;
  text-align: start;
  line-height: 1.1;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 992px) {
  .hero {
    margin-top: 0;
  }
  .hero-text {
    padding: 0 5px;
    min-width: 450px;
    margin-top: 100px !important;
    font-size: 3.5rem;
  }
  .typer-text {
    max-width: 450px;
  }
  .btn-custom {
    font-size: 30px;
    max-width: 400px;
    width: 80%;
    padding: 20px 25px;
    border-radius: 30px;
    margin: 10px auto;
    color: #eff0e1;
  }
  .btn-custom p {
    margin: 0;
  }
  .btn-wrapper {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 576px) {
  .hero-text {
    padding: 0 5px;
    min-width: 300px;
    width: 100%;
    margin-top: 100px !important;
    font-size: 2.5rem;
    text-wrap: wrap;
  }
  .typer-text {
    max-width: 350px;
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 1200px) {
  .hero-background img {
    width: 90%;
    transform: translateX(50px);
    top: 50px;
  }
}
