.our-team {
  background-color: var(--light-green);
}
.team-card-holder {
  max-width: 900px;
  margin: 10px auto;
  overflow-x: scroll;
  padding-bottom: 10px;
}
.team-card-holder::-webkit-scrollbar {
  margin-top: 10px;
  width: 4px;
  height: 5px;
  background-color: var(--light-green);
}
.team-card-holder::-webkit-scrollbar-thumb {
  background: var(--light-lime);
}
.card-3 {
  width: 250px;
  flex-shrink: 0;
}
.card-3-img {
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}
.card-3-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.card-3-icon-wrapper {
  max-width: 200px;
  background-color: var(--light-lime);
  padding: 5px 5px;
  border-radius: 5px;
}
.card-3-icon-wrapper .icon {
  cursor: pointer;
}
.team-quote h1 {
  font-size: 4rem;
}
.ceo-img-wrapper {
  border-radius: 50%;
}
.team-quote-wrapper {
  top: 20%;
  left: 5%;
}
@media screen and (max-width: 890px) {
  .team-card-holder {
    width: 90%;
  }
  .team-quote h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 576px) {
  .team-quote h1 {
    font-size: 2rem;
  }
  .ceo-img-wrapper {
    border-radius: 0;
  }
  .team-quote-wrapper {
    top: 40%;
  }
}
