.testimonial-section {
  background-color: var(--light-green);
  /* background-color: white; */
  padding-bottom: 30px;
  overflow: hidden;
}
.milestone-section {
  padding-bottom: 30px;
  /* background-color: var(--light-green); */
  /* background-color: rgb(255, 255, 255); */
}
.milestone-wrapper {
  background-color: rgb(213, 213, 213);
  padding: 50px;
  padding-bottom: 20px;
  border-radius: 20px;
  color: white;
}
.testimonial-section .color-box-1 {
  filter: blur(215px);
  background-color: #f1bda7;
  border-radius: 50%;
  width: 740px;
  height: 740px;
  position: absolute;
  bottom: -32%;
  left: -16%;
}
.testimonial-section .color-box-2 {
  filter: blur(215px);
  background-color: #b3bbc3;
  border-radius: 50%;
  width: 700px;
  height: 540px;
  position: absolute;
  bottom: 20%;
  left: 10%;
}
.testimonial-section .color-box-3 {
  filter: blur(215px);
  background-color: #f9bd87;
  border-radius: 50%;
  width: 642px;
  height: 642px;
  position: absolute;
  top: -10%;
  left: 28%;
}
.testimonial-section .color-box-4 {
  filter: blur(215px);
  background-color: #8397a6;
  border-radius: 50%;
  width: 632px;
  height: 632px;
  position: absolute;
  top: -22%;
  right: -12%;
}
.card-2 {
  max-width: 400px;
  width: 100%;
  padding-top: 10px;
  padding: 60px 50px 60px;
  border-radius: 10px;
}
.img-circle {
  max-height: 100px;
  max-width: 100px;
  height: 100%;
  width: 100%;
  border: 1px solid var(--primary-green);
  overflow: hidden;
  display: block;
}
.img-circle img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.testimonial-container {
  max-width: 900px;
  margin: 10px auto;
  padding-bottom: 20px;
  scroll-behavior: smooth;
  transition: all 0.3s linear;
}
.testimonial-container::-webkit-scrollbar {
  width: 2px;
  height: 3px;
}
.testimonial-container::-webkit-scrollbar-thumb {
  background-color: gray;
}
.testimonial-container .review {
  min-width: 50%;
}
.card-2-img {
  width: 80px;
  height: 80px;
  border: 1px solid rgb(63, 164, 99);
  overflow: hidden;
  /* margin: 0px auto 10px; */
  display: block;
}
.card-2-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.team-quote-wrapper {
  max-width: 700px;
}
@media screen and (max-width: 992px) {
  .img-circle {
    max-height: 250px;
    max-width: 250px;
  }
}
@media screen and (max-width: 576px) {
  .card-2 {
    height: auto;
    max-width: 350px;
    min-width: 100%;
  }
  .img-circle {
    display: none;
  }
  .card-2-img {
    display: block;
  }
  .testimonial-container {
    max-width: 350px;
    margin: 10px auto;
    padding-bottom: 20px;
    scroll-behavior: smooth;
  }
  .testimonial-container .review {
    min-width: 100%;
  }
}
