.service-section {
  background-color: var(--light-green);
}
.card-holder {
  overflow-x: scroll;
}
.card-holder::-webkit-scrollbar {
  width: 2px;
  height: 3px;
}
@media screen and (max-width: 800px) {
  .card-holder {
  }
}
