@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@100;400;500;600&family=Roboto:wght@400;500;700&display=swap");
*,
::after,
::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: "Inter", sans-serif;
}
.buttongreen {
	background-color: #5ecc5c;
	outline: none;
	border: none;
	border-radius: 20px;
	color: #eff0e1;
	display: flex;
	font-weight: bold;
	padding: 10px 25px;
	flex-direction: column;
	justify-content: center;
	flex-shrink: 0;
}
.buttongreencard {
	background-color: #5ecc5c;
	background-color: #5ecc5c;
	outline: none;
	border: none;
	border-radius: 20px;
	color: #eff0e1;
	display: flex;
	font-weight: bold;
	padding: 10px 50px;
	flex-direction: column;
	justify-content: center;
	/* flex-shrink: 0; */
}
.buttonlightgreen {
	background-color: #9ee09d;
	outline: none;
	border: none;
	border-radius: 20px;
	color: #387a37;
	display: flex;
	font-weight: bold;
	padding: 10px 25px;
	flex-direction: column;
	justify-content: center;
	flex-shrink: 0;
}
.logo {
	margin-left: 30px;
	font-size: 1.5rem;
	/* inset: 0;
	margin-top: auto; */
}
