@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@100;400;500;600&family=Roboto:wght@400;500;700&display=swap");
*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --light-green: rgb(191, 235, 190);
  --light-green-border: rgb(191, 235, 190);
  --primary-green: #5ecc5c;
  --green-hover: rgba(94, 204, 92, 0.456);
  --light-lime: rgb(158, 224, 157);
  --green-variant-2: rgb(58, 193, 101);
  --green-variant-2-hover: rgb(48, 153, 81);
  --green-variant-3: rgb(0, 191, 111);
  --dark-green: rgb(28, 61, 48);
  --dark-green-hover: rgb(18, 40, 31);
  --green-secondry: rgb(0, 191, 111);
  --text-sm: 16px;
  --text-md: 20px;
  --text-lg: 25px;
  --text-xlg: 30px;
  --text-black-variant-1: rgb(0, 0, 0);
  --text-white-variant-1: rgb(255, 255, 255);
  --height-xsm: 50px;
  --height-sm: 70px;
  --white-variant-1: rgb(255, 255, 255);
  --black-variant-1: rgb(0, 0, 0);
  --black-variant-2: rgb(32, 32, 32);

  --gray-200: rgb(255, 255, 255);
}
.dark-theme {
  --light-green: var(--dark-green);
  --white-variant-1: var(--black-variant-2);
  --light-green-border: var(--gray-200);
  --text-black-variant-1: rgb(218, 218, 218);
  --text-white-variant-1: rgb(57, 57, 57);
}
body {
  font-family: "Inter", sans-serif;
}
.buttongreen {
  background-color: var(--primary-green);
  outline: none;
  border: none;
  border-radius: 20px;
  color: #eff0e1;
  display: flex;
  font-weight: bold;
  padding: 10px 25px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.buttongreencard {
  background-color: var(--primary-green);
  outline: none;
  border: none;
  border-radius: 20px;
  color: #eff0e1;
  display: flex;
  font-weight: bold;
  padding: 10px 50px;
  flex-direction: column;
  justify-content: center;
  /* flex-shrink: 0; */
}
.buttonlightgreen {
  background-color: var(--light-green);
  outline: none;
  border: none;
  border-radius: 20px;
  color: #387a37;
  display: flex;
  font-weight: bold;
  padding: 10px 25px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.logo {
  margin-left: 30px;
  font-size: 1.5rem;
  /* inset: 0;
	margin-top: auto; */
}
.cursor-pointer {
  cursor: pointer;
}
.link {
  color: var(--text-white-variant-1);
  text-decoration: none;
}
.text-md {
  font-size: var(--text-md);
}

@media screen and (max-width: 512px) {
  :root {
    --text-md: 18px;
  }
}
