@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@100;400;500;600&family=Roboto:wght@400;500;700&display=swap");
*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --home-background: url("./assets/background2.svg");
  --light-green: rgb(191, 235, 190);
  --light-green-border: rgb(191, 235, 190);
  --primary-green: #5ecc5c;
  --green-hover: rgba(94, 204, 92, 0.456);
  --light-lime: rgb(158, 224, 157);
  --green-variant-2: rgb(58, 193, 101);
  --green-variant-2-hover: rgb(48, 153, 81);
  --green-variant-3: rgb(0, 191, 111);
  --dark-green: rgb(28, 61, 48);
  --dark-green-hover: rgb(18, 40, 31);
  --green-secondary: rgb(0, 191, 111);
  --text-xsm: 12px;
  --text-sm: 16px;
  --text-md: 20px;
  --text-lg: 25px;
  --text-xlg: 30px;
  --text-xxlg: 40px;
  --text-black-variant-1: rgb(0, 0, 0);
  --text-black-varaint-2: rgb(0, 0, 0);
  --text-white-variant-1: rgb(255, 255, 255);
  --height-xsm: 50px;
  --height-sm: 70px;
  --white-variant-1: rgb(255, 255, 255);
  --black-variant-1: rgb(0, 0, 0);
  --black-variant-2: rgb(32, 32, 32);
  --white-variant-2: rgb(255, 255, 255);
  --gray-200: rgb(255, 255, 255);
}
.dark-theme {
  --home-background: rgb(23, 48, 38);
  --light-green: var(--dark-green);
  --white-variant-1: var(--black-variant-2);
  --white-variant-2: rgb(40, 40, 40);
  --light-green-border: var(--gray-200);
  --text-black-variant-1: rgb(218, 218, 218);
  --text-black-variant-2: rgb(194, 194, 194);
  --text-white-variant-1: rgb(31, 31, 31);
  --green-secondary: rgb(0, 191, 111);
  --green-variant-3: white;
}
body {
  font-family: "Inter", sans-serif;
}

.logo {
  margin-left: 30px;
  font-size: 1.5rem;
  /* inset: 0;
	margin-top: auto; */
}
.bg-white-variant-2 {
  background-color: var(--white-variant-2);
}
.bg-light-green {
  background-color: var(--light-green);
}
.bg-green-primary {
  background-color: var(--primary-green);
}
.cursor-pointer {
  cursor: pointer;
}
.link {
  color: var(--text-white-variant-1);
  text-decoration: none;
}
.text-md {
  font-size: var(--text-md);
}
.text-sm {
  font-size: var(--text-sm);
}
.text-black-variant-2 {
  color: var(--text-black-variant-2);
}
.text-black-variant-1 {
  color: var(--text-black-variant-1);
}
.text-green-secondary {
  color: var(--green-secondary);
}

.text-error {
  color: rgb(206, 4, 4);
}
.text-xsm {
  font-size: var(--text-xsm);
}
.red-border {
  border-color: rgb(206, 4, 4) !important;
}
.min-height-100vh {
  min-height: 100vh;
}
.transparent {
  background-color: transparent;
}
.border-primary-green {
  border: 1px solid var(--primary-green);
}
.border-primary-green:hover {
  background: var(--light-green);
}
.border-black-variant-1 {
  border: 1px solid var(--black-variant-1);
}
.border-green-variant-1 {
  border: 1px solid var(--primary-green);
}
.border-green-variant-3 {
  border: 1px solid var(--green-variant-3);
}
@media screen and (max-width: 512px) {
  :root {
    --text-md: 18px;
  }
}
