.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slide {
  display: none;
}

.active {
  display: block;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
